.img-avatar {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.navbar-nav>li>form {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>a {
    line-height: 50px;
}

.navbar-brand {
    height: 80px;
    font-size: 70px;
    line-height: 45px;
    font-weight: bold;
}

.navbar-nav>li>a {
    line-height: 50px;
}

.text-capitalize-first {
    text-transform: lowercase;
}

.text-capitalize-first > li:first-letter {
    text-transform: capitalize;
}

.footer > .container-fluid > .text-muted {
  text-align: center;
  padding-top: 20px;  
}

@media (min-width: 768px) {

.navbar-nav>li>form {
    padding-top: 15px;
    padding-bottom: 15px;
}

}
