html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 70px;
  min-height: 2000px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-form {
    margin: 0;
    padding: 15px 0 0 15px;
    line-height: 40px;
}

.img-avatar {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.navbar-nav>li>a {
    line-height: 40px;
}
.navbar-nav>li>a.avatar {
  margin-top: -1px;
}

.navbar-brand {
    height: 70px;
    font-size: 60px;
    line-height: 35px;
    font-weight: bold;
}

.text-capitalize-first {
    text-transform: lowercase;
}

.text-capitalize-first > li:first-letter {
    text-transform: capitalize;
}

.footer > .container-fluid > .text-muted {
  text-align: center;
  padding-top: 20px;  
}

/* wide-screen */
@media screen and (min-width: 1200px) {
}

/* desktops */
@media screen and (min-width: 992px) {

}

/* tablets */
@media screen and (min-width: 768px) {
}

/* phones */
@media screen and (min-width: 480px) {

}