/* преобразование текста к нижнему регистру с заглавной первой буквой первого слова */
.text-capitalize-first {
  text-transform: lowercase!important;
}

.text-capitalize-first > li:first-letter, label.text-capitalize-first:first-letter {
  text-transform: capitalize!important;
}

html {
  position: relative;
  min-height: 100%;
}

/* тело */
main {
  padding: 70px 5px 35px;
}

/* футер */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #bcbcbc;
  color: black;
}

/* текст футера */
footer > .container > p {
  color: black;
  text-align: center;
  padding-top: 5px;
}

/* главное меню */
.navbar {
  background-color: #bcbcbc;
  margin-bottom: 0;
}

/* пункты главного меню */
.navbar-default .navbar-nav > li > a {
  color: black;
}

/* подсвеченные пунктов главного меню */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
}

/* панель инструментов страницы */
.top-bar, .top-bar-single {
  border: 1px solid #ddd;
  position: fixed;
  width: 100%;
  margin: 0 -5px;
  padding: 0 5px;
  background-color: white;
  z-index: 1;
}

/* любой дочерний элемент панели инструментов страницы */
.top-bar > *, .top-bar-single > * {
  margin-top: 5px;
}

/* путь навигации на панели инструментов страницы */
.top-bar > .breadcrumb, .top-bar-single > .breadcrumb {
  margin-bottom: 0;
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 2px 10px;
}

/* последний из элементов на панели инструментов страницы */
.top-bar > *:last-child, .top-bar-single > *:last-child {
  margin-bottom: 5px;
}
/* разделители между элементами пути навигации */
/*.breadcrumb > li + li:before {
  content: "»"; *//*content: "/\00a0";*/
/*}*/

/* первый элемент после панели инструментов страницы */
.top-bar-single + * {
  margin-top: 40px;
}

.top-bar + * {
  margin-top: 70px;
}

.top-bar > form button, .top-bar-single > form button {
  text-transform: uppercase!important;
}










/* используется на странице профилей */
.table > caption {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 10px 5px;
  color: #428bca;
}

.table>thead>tr>th, .table>tfoot>tr>td {
  background-color: #f5f5f5;
  vertical-align: middle;
}

.table>tbody.selectable {
  cursor: pointer;
}

.table>tbody>tr>th {
  font-weight: normal;
}

.table>thead>tr>th, .table>tbody>tr>th {
  text-transform: lowercase;
}

.table>thead>tr>th:first-letter, .table>tbody>tr>th:first-letter {
  text-transform: capitalize;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table>tbody>tr.active {
  color: #428bca;
}

.table>tbody>tr.active>td:first-child:before {
  content: "» ";
}

col.activity {
  width: 30px;
}

col.actions {
  width: 65px;
}

.activity .glyphicon-ok {
  color: #3c763d;
}

.activity .glyphicon-remove {
  color: #a94442;
}

.navbar-form {
  margin: 0;
  padding: 15px 0 0 15px;
  line-height: 40px;
}

.img-avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.table-condensed .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-nav>li>a {
  line-height: 40px;
}
.navbar-nav>li>a.avatar {
  margin-top: -1px;
}

.navbar-brand {
  height: 70px;
  line-height: 25px;
  font-weight: bold;
  color: #ee1d23!important;
  font-family: Book Antiqua;
  padding-top: 3px;
  font-size: 55px;
}

.navbar-brand span {
  font-size: 25%;
  vertical-align: text-top;
}

a.navbar-brand:focus,a.navbar-brand:hover {
  color: red!important;
}

.page-header {
  text-transform: uppercase;
}

.form-signin {
  max-width: 200px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  padding: 0 0 0 20px;
}
.form-signin .form-control {
  position: relative;
  /*height: auto;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}

.page-header {
/* wide-screen */
@media screen and (min-width: 1200px) {
}

/* desktops */
@media screen and (min-width: 992px) {

}

/* tablets */
@media screen and (min-width: 768px) {
}

/* phones */
@media screen and (min-width: 480px) {

}