/* преобразование текста к нижнему регистру с заглавной первой буквой первого слова */
.text-capitalize-first {
  text-transform: lowercase!important;
}

.text-capitalize-first > li:first-letter, label.text-capitalize-first:first-letter {
  text-transform: capitalize!important;
}

html {
  position: relative;
  min-height: 100%;
}

/* тело */
main {
  padding: 90px 5px 30px;
}

/* футер */
footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #005073;
  color: #d3d9db;
}

/* текст футера */
footer p {
  text-align: left;
  text-align: center;
  padding-top: 5px;
}

footer a {
  color: #8a979c;
}

footer a:focus, footer a:hover {
  color: white!important;
  text-decoration: none;  
  cursor: auto;
}

footer ul {
  padding-left: 5px;
}

/* главное меню */
.navbar {
  background-color: white;
  margin-bottom: 0;
}

.navbar-toggle {
  margin-top: 15px;
}

.address-banner {
  background-color: #00a1e6;
  padding-top: 0;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
}

.address-banner a { 
  color: #ffcb47;
}

/* пункты главного меню */
.navbar-default .navbar-nav > li > a {
  color: black;
}

/* подсвеченные пунктов главного меню */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ffcb47;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffcb47;
    background-color: #005073;
}

/* панель инструментов страницы */
.top-bar, .top-bar-single {
  border: 1px solid #ddd;
  position: fixed;
  width: 100%;
  margin: 0 -5px;
  padding: 0 5px;
  background-color: #00a1e6;
  z-index: 1;
}

/* любой дочерний элемент панели инструментов страницы */
.top-bar > *, .top-bar-single > * {
  margin-top: 5px;
}

/* путь навигации на панели инструментов страницы */
.top-bar > .breadcrumb, .top-bar-single > .breadcrumb {
  margin-bottom: 0;
  background-color: #005073;
  text-transform: uppercase;
  /*border: 1px solid black;*/
  padding: 2px 10px;
}

.breadcrumb a {
  color: #ffcb47;
}

.breadcrumb > .active {
  color: white;
}

/* последний из элементов на панели инструментов страницы */
.top-bar > *:last-child, .top-bar-single > *:last-child {
  margin-bottom: 5px;
}
/* разделители между элементами пути навигации */
/*.breadcrumb > li + li:before {
  content: "»"; *//*content: "/\00a0";*/
/*}*/

/* первый элемент после панели инструментов страницы */
.top-bar-single + * {
  margin-top: 40px;
}

.top-bar + * {
  margin-top: 70px;
}

.top-bar > form button, .top-bar-single > form button,
.btn-toolbar .btn-group button {
  text-transform: uppercase!important;
}

.navbar-nav>li>a {
  line-height: 40px;
}

.navbar-brand {
  height: 70px;
  line-height: 10px;
  font-weight: bold;
  color: black!important;
  padding-top: 20px;
  padding-left: 70px;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 60px 60px;
  width: 275px;
  background-image: url("/images/EZ-CUT-PRO_final.svg");
}

.navbar-brand span {
  font-size: 25%;
  vertical-align: text-top;
}

a.navbar-brand:focus,a.navbar-brand:hover {
  color: #ffcb47!important;
}

.page-header {
  text-transform: uppercase;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffcb47;
  text-decoration: none;
  background-color: #005073;
}

.about {
  margin: 0;
  padding: 15px 0;
}

.img-about {
  width: 150px;
  height: 150px;  
}

/* phones */
@media screen and (min-width: 480px) {
}

/* tablets */
@media screen and (min-width: 768px) {
}
  
/* desktops */
@media screen and (min-width: 992px) {
}

/* wide-screen */
@media screen and (min-width: 1200px) {
}
